@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=PT+Sans:wght@400;700&display=swap');

:root {
  --primary-font: 'PT Sans', sans-serif;
  --accent-font: 'Inika', serif;
  --light-color: #fff;
  --dark-color: #202020;
  --primary-color: #6686df;
  --accent-color: #e23dcc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: var(--primary-font);
  background-color: var(--primary-color);
  color: var(--dark-color);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--accent-font);
  color: var(--light-color);
  padding: 1rem 0;
}

h1 {
  font-size: 3rem;
}

.square {
  height: 5rem;
  width: 5rem;
  background-color: var(--light-color);
  display: flex;
  color: var(--accent-color);
  font-size: 4rem;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  justify-content: center;
  grid-gap: 5px;
  cursor: pointer;
}